
@font-face {
font-family: "Philosopher";
src: url("font/Philosopher-Regular.ttf");
}

body {
  background-color: #cce3ce;
  margin-top: 10%;
  font-family: "Philosopher";
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;


}


footer {
  top: 80%;
}

header {

}


nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  list-style-type: none;
  position: fixed;
  top: 0;


 }

 nav a {
  text-decoration: none;
  color: black;
  display: block;
 }

#menu {
  padding: 0; 
  margin: 0;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 1320px;
  background-color: #cce3ce;
   
}

#menu > li {
  display: inline-block;
  width: 170px;
  background-color: #adbfab;
  border: 1px solid #cbdcc9;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  text-align: center;
  margin-top: 10px;
  top: 50%;

}

#menu > li > a {
  width: 100%;
  display: block;
  padding-top: 15px;
    height: 40px;



}

#menu > li:hover > a{
  color: black;
    transition: color 250ms linear;
    
}

#menu > li:hover{
  background-color: #cbdcc9;
    transition: background-color 500ms linear;
    
}



#menu > li > ul {
  top: -500%;
  text-align: center;
  background-color: #cbdcc9;
  border: 2px solid #adbfab;
  border-radius: 8px;
  transition: top .6s;
  width: 168px;
  z-index: -50;

}

#menu > li:hover > ul {
  top: 65px;
  transition: top 0.2s;
}

#menu > li:hover, #menu > li > ul > li:hover {
  border: 1px solid #adbfab;
}

#menu > li > ul > li > a{
  border-bottom:1px solid #adbfab;
  padding-top:8px;
  padding-bottom: 8px;
}

#logos {
  display: inline-block;
  height: 15%;
  width: 100%;
  display: inline-block;
  margin-top: 10%;
  border-top: 1px solid #adbfab;
}

#logoFB , #logoTT , #logoGP {
  padding-left: 1%;
  height: 25px;
  width: 25px;
} 

a {
  text-decoration: none;
}

