
body {
  background-color: #cce3ce;
}
header {
  width: 100%;
  height: 20%;
}

#navMenu {
  margin-left: 5%;
   height: 50px;
   text-align:center;
 

}

#menu {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
  margin-left: 20%;
 }
#menu li {
	list-style-type:none;
 height: 50px;
 float:left;
 margin:0;
 padding:0;
 background-color: #f1f9f1;
  border-width:2px;
 border-style:solid;
 border-color:#115611;

 }
#menu li a {
  height: 100%;
	margin: auto;
 display:inline-block;
 width:100px;
 color:black;
 text-decoration:none;
    background-color: #f1f9f1;

 }
#menu li a:hover {
 color:teal;
 }
 #menu li ul {
 display:none;
 }
 #menu li:hover ul {
    margin-left: -40px;
 display:block;
    
 }
#menu li:hover ul li {
   
 float:none;
       background-color: #f1f9f1;
 }
 #menu li ul {
 position:relative;
    
 }