
body {
  background-color: #cce3ce;
  margin-top: 50px;
}


header {
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  list-style-type: none;
  position: fixed;
  top: 0;
    background-color: #81b578;


 }

 nav a {
  text-decoration: none;
  color: black;
 }

#menu {
  padding: 0; 
  margin: 0;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 1320px;

}

#menu > li {
  display: inline-block;
  width: 170px;
  background-color: #b6eead;
  
  padding: 5px;
  border-radius: 50px;
  text-align: center;

}

#menu > li > a {
  width: 100%;
}

#menu > li > ul {
  top: -300%;
  text-align: center;
  background-color: #81b578;
  border: 2px solid #b6eead;
  border-radius: 8px;
  transition: top .7s;
  width: 170px;
  z-index: -50;

}

#menu > li:hover > ul {
  top: 29px;
  transition: top .7s;
}

