
<!-- <body> -->
<ul id="menu">

<li class="nousConnaitre"><a href="./NousConnaitre/connaitre.html">Nous connaitre</a></li>

<li class="nosProduits"><a href="./NosProduits/produits.html">Nos produits</a></li>

<li class="nosContrats"><a href="./NosContrats/contrats.html">Nos contrats</a></li>

<li class="laVieAlAMAP"><a href="./LaVieALAMAP/LVALA.html">La vie à l'AMAP</a></li>

<li class="monProfil"><a href="./MonProfil/profil.html">Mon profil</a></li>

<li class="nousSoutenir"><a href="./NousSoutenir/soutient.html">Nous soutenir</a></li>

</ul>

<!-- </body>